body {
  background-color:#dda0dd;
}

h1 {
  color: #66BFBF;
}

h3{
color: #66BFBF;
font-size: 5.625rem;
}

hr{
  background-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
